.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    color: black;
    height: 45px;
    box-shadow: 3px 3px 0px 0 #fff;
    
    @apply bg-zinc-950 text-white border-2;
}

.header-line {
    border-bottom: 1px solid #9333ea;
    margin-top: 6px;
    width: 0%;
    transition: width 0.5s;
}

.card-container {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 91vh;
    backdrop-filter: blur(4px);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #9333ea;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-input {
    border: none;
    font-size: 1.5rem;
    text-align: center;
}

#dwc > div:first-child {
    width: 80px;
    height: 0.25rem;
}